@font-face {
    font-family: 'minecraft';
    src: url(fonts/minecraft.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw; 
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("media/bg-modified.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
}

* {
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'minecraft', sans-serif;
}

.launcher-options-bottom {
    position: absolute;
    bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content:space-between ;
    width: 100vw;
}

.launcher-options-top {
    position: absolute;
    top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-evenly ;
    width: 100vw;
}


.bottom-section {
    margin-top: auto;
    padding: 20px;

    border-radius: 8px;
    z-index: 0;
    
}

.play-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

.play-buttons .button-wide {
    margin-bottom: 10px;
}


.player-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
    margin-left: 70px;
}

.button-medium {
    width: 130px !important;
    height: 20px !important;
}


.input-wide {

    background: url("media/buttons/textures/locked-wide.png") no-repeat center center;
    background-size: 100% 100% !important;
    width: 120px;
    height: 20px;
    transform: scale(2);
    font-family: 'minecraft', sans-serif;
    font-size: 8px;
    color: white;
    text-shadow: 1px 1px 0px #3f3f3f; 
    margin-top: auto;
    font-size: 8px;
    padding-left: 10px;
    color: white;
    border: none;        
    outline: none;     
    appearance: none;
    text-align: left;
    
}

.button-small p {
    font-family: 'minecraft', sans-serif;
    font-size: 8px;
    color: white;
    text-shadow: 1px 1px 0px #3f3f3f; 
    margin-bottom: 2.3px;
}

.discord-button {
    color: aqua !important;
}

.button-small {
    background: url("media/buttons/textures/default-small.png") no-repeat center center;
    background-size: 100% 100% !important;
    width: 20px;
    height: 20px;
    transform: scale(2);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;

    transition: all 0.05s ease-in-out;
}

.button-small:hover {
    cursor: pointer;
    background: url("media/buttons/textures/hover-small.png") no-repeat center center;
}

.button-small:active {
    background: url("media/buttons/textures/clicked-small.png") no-repeat center center;
}

.button-wide {
    background: url("media/buttons/textures/default-wide.png") no-repeat center center;
    background-size: 100% 100% !important;
    width: 150px;
    height: 20px;
    transform: scale(2);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;

    transition: all 0.05s ease-in-out;




}


.button-wide p {
    font-family: 'minecraft', sans-serif;
    font-size: 8px;
    color: white;
    text-shadow: 1px 1px 0px #3f3f3f; 
    margin-bottom: 2.3px;
}

.button-wide:hover {
    cursor: pointer;
    background: url("media/buttons/textures/hover-wide.png") no-repeat center center;
}

.button-wide:active {
    background: url("media/buttons/textures/clicked-wide.png") no-repeat center center;
}

.play-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1.1);
}

.play-section-title {
    width: 340px;
    height: auto;
    margin-bottom: 15px;
}

.playtime-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
    gap: 3px;
    margin-top: auto;
}

.playtime-section p {
    font-family: 'minecraft', sans-serif;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 0px #3f3f3f; 
    margin-bottom: 2.3px;
}

.playtime-section .playtime-section-time {
    color: #b0afad !important;
    text-shadow: 1px 1px 0px #242424; 
}

